/********
    INHERIT
 ********/
.alert-danger {
    background-color: #e51c23;
}
.alert {
    border: medium none;
    color: #fff;
}

/********************************************************/

/********
    HTML ELTS
 ********/


/********************************************************/

/********
    CLASS
 ********/


/********************************************************/

/********
    ID
 ********/
#page-wrapper {
    margin-bottom: 50px;
    min-height: 86vh;
}

/********************************************************/
