/********
    INHERIT
 ********/
.alert-danger {
    background-color: #e51c23;
}
.alert {
    border: medium none;
    color: #fff;
}

/********************************************************/

/********
    HTML ELTS
 ********/
body {
    margin-top: 51px !important;
}

/********************************************************/

/********
    CLASS
 ********/
.mgr-graph {
    max-height: 200px;
}

/********************************************************/

/********
    ID
 ********/
#page-wrapper {
    margin-bottom: 50px;
    min-height: 86vh;
    padding-top: 25px;
}

/********************************************************/
