/********
    INHERIT
 ********/

.navbar {
    border-radius: unset !important;
}

/********************************************************/

/********
    HTML ELTS
 ********/

table th {
    text-align: center;
}

/********************************************************/

/********
    CLASS
 ********/
.login-block {
    padding: 20px;
    border-radius: 15px;
    background-color: #ff9800;
}

.block {
    margin-bottom: 20px;
}

.label-clearance {
    font-size: 45px;
    font-weight: 900;
    display: inline-block;
}

.table-motive {
    max-width: 50%;
}

/********************************************************/
