/** PADDING **/
.padding-20 {
    padding: 20px;
}

/** MARGIN **/
.margin-top-50 {
    margin-top: 50px;
}
.margin-right-5 {
    margin-right: 5px;
}

/** TEXT ALIGN **/
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}

/** TEXT **/
.weight-bolder {
    font-weight: bolder;
}