<button type="button" id="btn-add-payment" class="btn btn-primary btn-lg hidden" data-toggle="modal" data-target="#paymentModal">
    Ajouter un paiement
</button>
<div class="modal fade align-left" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un paiement</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hidden" id="div-error" role="alert"></div>
                <form id="add-form">
                    <div class="form-group">
                        <label for="add-date">Date</label>
                        <input type="date" class="form-control" id="add-date" value="{{ date|date("d-m-Y") }}" palceholder="Entrer la date">
                    </div>
                    <div class="form-group">
                        <label for="add-motive">Motif</label>
                        <input type="texte" class="form-control" id="add-motive" placeholder="Entrer le motif">
                    </div>
                    <div class="form-group">
                        <label for="add-media">Moyen de paiement</label>
                        <select id="add-media" class="form-control">
                            <option value="none">Choisir...</option>
                            <option value="CB">CB</option>
                            <option value="Chèque">Chèque</option>
                            <option value="Virement">Virement</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="add-amount">Montant</label>
                        <div class="input-group">
                          <input type="text" id="add-amount" class="form-control" placeholder="Entrer le montant" aria-describedby="basic-addon2">
                          <span class="input-group-addon" id="basic-addon2">€</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" onclick="submitAddForm(1)">Ajouter</button>
            </div>
        </div>
    </div>
</div>