{% extends 'layout/layout.html.twig' %} 
{% block content %}
<script src="js/index.js"></script>
<div class="container-fluid" id="index-content">
  <div id="payments-div">
    {% include 'index/payments.html.twig' with {'month': month, 'clearance': clearance, 'payments': payments, 'total': total} %}
  </div>
  <div class="row block align-center">
    {% include 'index/add_payment.html.twig' with {'date': date, 'medias': medias} %}
  </div>
</div>
{% endblock %}