{% extends 'layout/layout-manager.html.twig' %} 
{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <h1>Files index</h1>
            <ul>
                <li>Display of the month list with data in db</li>
                <li>Select one month or all month</li>
            </ul>
        </div>
    </div>
{% endblock %}