{% extends 'layout/layout-manager.html.twig' %} 
{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <h1>Month content</h1>
            <p>Manage your month payments:</p>
            <ul>
                <li>Add</li>
                <li>Update</li>
                <li>Delete</li>
                <li>Change budget</li>
            </ul>
            
        </div>
    </div>
{% endblock %}