<h1>Month content</h1>
<p>Manage your month payments:</p>
<ul>
    <li>Add</li>
    <li>Update</li>
    <li>Delete</li>
    <li>Change budget</li>
</ul>

<h1>Payments</h1>
{{ payments }}

<h1>Clearances</h1>
{{ clearances }}