{% extends 'layout/layout-manager.html.twig' %} 
{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            {% if error is defined %}
                <div class="alert alert-danger" role="alert"> {{ error }} </div>
            {% endif %}
            
            <script src="/js/mgr-graphs.js"></script>  
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dépenses / Solde</h3>
                        </div>
                        <div class="panel-body">
                            <div id="graph-month-clearance" class="mgr-graph"></div>
                            <div id="error-month-clearance" class="alert alert-danger hidden"></div>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Moyenne des dépenses par jours</h3>
                        </div>
                        <div class="panel-body">
                            <div id="graph-payments-amount" class="mgr-graph"></div>
                            <div id="error-payments-amount" class="alert alert-danger hidden"></div>
                        </div>
                    </div>
                </div> 
            </div>
            <!--
                    a. donut : dépense (%) /Reste(% => 100-%depense)
                    b. courbe : somme + moyenne du montant des achats par jours (SUM(p.value) as somme, COUNT(p.id) as nb GROUP BY day)
                    c. histogramme : nombre d'achat par jours durant le mois (voir précédent)
                    d. chiffres :
                          i. nombre d'achat durant le mois (+moyenne par jours) (voir précédent)
                         ii. montant moyen par achat (voir précédent)
                        iii. 
            -->
        </div>
    </div>
{% endblock %}