{% extends 'layout/layout-manager.html.twig' %} 
{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            {% if error is defined %}
                <div class="alert alert-danger" role="alert"> {{ error }} </div>
            {% endif %}
            
            <script src="/js/mgr-graphs.js"></script>  
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dépenses / Solde</h3>
                        </div>
                        <div class="panel-body">
                            <div id="graph-month-clearance" style="max-height: 200px"></div>
                            <div id="error-month-clearance" class="alert alert-danger hidden"></div>
                        </div>
                    </div>
                </div>    
            </div>
            <!--
                    a. donut : dépense (%) /Reste(% => 100-%depense)
                    b. donut : dépense par moyen de paiement
                    c. courbe (nombre achats par jours) + histo (montant par jours)
                    d. courbe (nombre achats par mois) + histo (montant par mois)
            -->
        </div>
    </div>
{% endblock %}