{% extends 'layout/layout-manager.html.twig' %} 
{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <h1>Params</h1>
            <p>Set your params:</p>
            <ul>
                <li>Month budget</li>
                <li>Password</li>
                <li>Get monthly recap by mail</li>
            </ul>
            
        </div>
    </div>
{% endblock %}